
html {
    font-size: 62.5%; // default font size

@include respond(xl) {
        font-size: 75%; //1rem = 12, 12/16
    }
     
//     @include respond(lg){
// // This defines what 1rem is
//     font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
//     }

    @include respond(md) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(sm) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    
   
} 



*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{
     box-sizing: border-box;
    color: $color-grey-dark;
    font-size: $default-font-size;
    margin: 0 auto;
    font-family: $default-font;
     scroll-behavior: smooth;
  
    
}


.g-container{
    display: grid;
   grid-template-columns: [full-start] minmax(3rem, 1fr)[center-start] 1fr repeat(8 , [col-start] 1fr [col-end]) 1fr [center-end]  minmax(3rem, 1fr)[full-end];


    @include respond(phone){
         overflow-x: hidden;

    }
}