.fightComponent{
@include layout(center-layout);
justify-items: center;
grid-gap: 1rem;
}
.fightContainer{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include respond(lg){
        grid-template-columns: 1fr;
         grid-gap: 2rem;
    }
   
    
    &__fights{

    }
}
.fightHeader{
    padding: 1rem;
}

